@media (max-width: 1600px){
    .promo {
        min-height: 660px;
        padding: 40px 0 90px 0;
        &__logo {
            margin-bottom: 65px;
            img {
                width: 45px;
                height: 83px;
            }
        }
    }
    .man {
        background: url(../img/img-side1_2_bg_1200.jpg)center (center/cover) no-repeat;
    }
}

@media (max-width: 1200px){
   
}

@media (max-width: 767px){
    .promo {
        background-attachment: local;
        min-height: 570px;
        padding: 30px 0 50px 0;
        &__logo {
            margin-bottom: 30px;
            img {
                width: 45px;
                height: 83px;
            }
        }
        &__title {
            font-weight: 300;
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 15px;
        }
        &__subtitle {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 40px;
        }
        &__btn {
            width: 160px;
            height: 40px;
            font-size: 12px;
            line-height: 12px;
        }
    }
    .service {
        padding: 40px 0;
        &__title {
            font-weight: 300;
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 0px;
        }
        &__item {
            img {
                width: 50px;
                height: 50px;
                margin-bottom: 20px;
                margin-top: 40px;
                opacity: 1;
            }
            &__title {
                margin-bottom: 20px;
                font-weight: 300;
                font-size: 25px;
                line-height: 30px;
            }
            &__subtitle {
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
    .img__man {
        display: block;
        height: 260px;
        background: url(../img/img-side1_2.jpg) center (center/cover) no-repeat;
        
    }
    .man {
        background: #2FD2B0;
        padding: 30px 0 40px 0;
        &__text {
            h2 {
                font-size: 28px;
                line-height: 38px;
                color: #ffffff;
                margin-bottom: 15px;
            }
            &__descr {
                font-size: 16px;
                line-height: 26px;
            }

        }
    }
    .clients {
        padding: 50px 0 40px 0;
        h2 {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 0;
        }
        &__item {
            &__descr {
                margin: 30px 0 15px 0;
            }
            &__info {
                padding-bottom: 0px;
            }
        }
    }
    .clients__logos {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        img {
            padding: 15px 10px;
        }
        
    }
    .calendar {
        padding: 70px 0 40px 0;
        h2 {
            margin-bottom: 35px;
        } 
    }
    .calendar__logo {
        display: flex;
        justify-content: center;
        img {
            width: 45px;
            height: 83px;
            margin-bottom: 25px;
        }
    }
    .calendar__law, .calendar__phone {
        display: block;
        padding: 0;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        margin: 0;
        a {
            font-size: 14px;
            line-height: 24px;
        }
    }
}