.calendar {
    padding: 70px 0 60px 0;
    min-height: 995px;
    background-color: #0A1034;
    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 35px;
        line-height: 45px;
        color: #ffffff;
    }
    &__logo {
        cursor: pointer;
        img {
            width: 55px;
            height: 100px;
        }
    }
    &__law {
        display: flex;
        align-items: center;
        justify-content: start;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        span {
            font-weight: 700;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        a {
            text-decoration: none;
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
            color: #FFFFFF;
        }
        
    }
}