.service {
    min-height: 500px;
    padding: 50px 0;
    &__title {
        font-weight: 300;
        font-size: 40px;
        line-height: 55px;
        color: #2D2D2D;
        text-align: center;
        margin-bottom: 50px;
    }
    &__item {
        img {
            margin-bottom: 30px;
            opacity: .4;
            transition: 300ms;
            &:hover {
                transition: 500ms;
                transform: translate(-5px, -10px);
                opacity: 1;
            }
        }
        &__title {
            margin-bottom: 23px;
            font-weight: 300;
            font-size: 35px;
            line-height: 30px;
            color: #2D2D2D;
        }
        &__subtitle {
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            color: #2D2D2D;
        }
    }

}